# Java compiled classes
*.class
*.log
hs_err_pid*
replay_pid*
*.tmp
*.swp

# Maven build output
target/
build/
out/

# Maven specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.m2/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
